<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>jimmythigpen (Jimmy Thigpen)</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="bower_components/octicons//octicons/octicons.css">
</head>

<body>
  <header>
    <div class="header-container">
      <span class="header-left">

        <span class="header octicon octicon-mark-github"></span>


        <input type="search" value="" placeholder="Search GitHub" class="search-input" />

        <span>
          <ul class="left-links">
            <li>Explore</li>
            <li>Gist</li>
            <li>Blog</li>
            <li>Help</li>
          </ul>
        </span>
      </span>
      <span class="header-right">
        <span class="right-header-user-info">
          <img src="images/small-user-icon.jpeg" />
          <span>Jimmy Thigpen</span>
        </span>
        <span class="header-right-icons">
          <span>
          <span class="octicon octicon-plus"></span>
          <span class="octicon octicon-triangle-down"></span>
          </span>
          <span class="octicon octicon-inbox"></span>
          <span class="octicon octicon-gear"></span>
          <span class="octicon octicon-sign-in"></span>
        </span>
      </span>
    </div>
  </header>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <div class="body-container">

  <div class="user-container">

    <script type="text/template" class="user-info">

        <span class="avatar-img">
          <a href="<%= url %>">
            <img src="<%= avatar_url %>" />
          </a>
        </span>
        <span class="user-name">
          <%= name %>
        </span>
        <span class="user-login-name">
          <%= login %>
          </span>
    </div>

    </script>

  </div>

  <div class="repo-container">

    <ul class="nav-links">
      <li>
        <span class="octicon octicon-diff-added"></span>
        Contributions
      </li>
      <li>
        <a href="#">
        <span class="octicon octicon-repo-pull"></span>
        Repositories
      </a>
      </li>
      <li>
        <span class="octicon octicon-rss"></span>
        Public Activity
      </li>
      <li>
        <button>
        <span class="octicon octicon-pencil"></span>
        Edit Profile
      </button>
      </li>
    </ul>

    
    <script type="text/template" class="repo-info">

      <li>
        <%= name %>

      </li>

    </script>

  </div>

</div>

  <script src="token.js"></script>
  <script type="text/javascript" src="main.js"></script>

</body>

</html>
